<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>YouTube Video Downloader</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h1>YouTube Video Downloader</h1>
    <form action="/download" method="post">
        <div class="input-container">
            <label for="videoLink">LINK</label>
            <input type="text" id="videoLink" name="video_url" placeholder="Paste YouTube link here..." required>
        </div>

        <button type="submit" class="download-btn" id="download-btn">Download</button>

        <div class="progress-container" id="progress-container">
            <div class="progress-bar" id="progress-bar">
                <div class="progress-text" id="progress-text">0%</div>
            </div>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
